/* General */
* {
    background-color: #F6F8F9;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.container {
    background-color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    width: 1080px;
    line-height: 100px;
}

.second-container {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 1000px;
    margin: 0 auto;
    margin-top:50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.third-container {
    background-color: rgb(255, 255, 255);
    height: 620px;
    width: 1000px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 100px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter', sans-serif;
}

/* Header */
#main-header {
    background-color: rgb(255, 255, 255);
    line-height: 90px;
}

#second-header {
    margin-bottom: -15px;
}

#logo {
    width: 70px;
    height:70px;
    vertical-align: middle;
}

#title {
    display: inline;
    font-size: 44px;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
}

/* Main */
#first-button {
    background-color: #1E90FF;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: left;
}

#second-button {
    background-color: rgb(255, 255, 255);
    color:#808080 ;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #808080;
}

h3 {
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
}

p {
    background-color: rgb(255, 255, 255);
    margin-left: 50px
}

.check {
    background-color: rgb(255, 255, 255);
    color: rgb(33,145,33);
    text-decoration: none;
    padding: 1px 5px;
    border: 1px solid rgb(33,145,33);
    border-radius: 50%;
    text-align: left;
}

.cross {
    background-color: rgb(255, 255, 255);
    color: rgb(255,4,4);
    text-decoration: none;
    padding: 1px 5px;
    border: 1px solid rgb(255,4,4);
    border-radius: 50%;
    text-align: left;
}

.text-blue {
    background-color: #45ABEA;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

.text-purple {
    background-color: #9C72E4;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

.text-green {
    background-color: #64C0A9;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

.text-orange {
    background-color: #F29E33;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

.text-pink {
    background-color: #D863A1;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

.text-lightgreen {
    background-color: #B0C926;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 30px;
    text-align: left;
}

